* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #243775;
  --secondary-color: #171717;
  --tertiary-color: #e6e6e8c7;
  --dark-black: black;
  --laptop-large: 1440px;
  --padding-large: 7.5rem;
  --padding-tablet: 4rem;
  --padding-mobile-Large: 1rem;
  --rating-color: #bd7501;
}

body {
  background-color: var(--secondary-color);
  padding-top: 4.375rem;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--dark-black);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Home Page */

/* Header */
header {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.header-flex {
  max-width: var(--laptop-large);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  background-color: var(--primary-color);
}

.header-flex .logo {
  font-size: 1.25rem;
  color: var(--tertiary-color);
}

.header-flex .logo span {
  color: var(--dark-black);
  font-weight: bold;
}
/* Desktop navigation */
.header-flex .navigation-desktop {
  display: flex;
  gap: 3.5625rem;
}

.header-flex .navigation-desktop a {
  position: relative;
  transition: all 0.3s linear;
  padding: 0.5rem 1rem;
  color: var(--tertiary-color);
}

.header-flex .navigation-desktop .fa-cart-shopping {
  font-size: 1.3rem;
  transition: all 0.2s linear;
  color: var(--tertiary-color);
}

.header-flex .navigation-desktop .fa-cart-shopping:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* Before */
.header-flex .navigation-desktop a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-left: 2px solid var(--dark-black);
  border-top: 2px solid var(--dark-black);
  opacity: 0;
  transition: all 0.3s linear;
}

.header-flex .navigation-desktop a:hover::before {
  top: -5px;
  left: -5px;
  opacity: 1;
}

/* After */
.header-flex .navigation-desktop a::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-right: 2px solid var(--dark-black);
  border-bottom: 2px solid var(--dark-black);
  opacity: 0;
  transition: all 0.3s linear;
}

.header-flex .navigation-desktop a:hover::after {
  bottom: -5px;
  right: -5px;
  opacity: 1;
}

.header-flex .navigation-desktop a:hover {
  background-color: var(--dark-black);
  color: var(--tertiary-color);
}

/* Mobile navigation */
.header-flex .navigation-mobile {
  position: absolute;
  top: 4.375rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--tertiary-color);
  background-color: black;
  width: 100%;
  height: calc(100vh - 4.375rem);
  transform: scaleX(0);
  transform-origin: top right;
  transition: all 0.3s linear;
  z-index: 5000;
}

/* Before */
.header-flex .navigation-mobile a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-left: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
  opacity: 0;
  transition: all 0.3s linear;
}

.header-flex .navigation-mobile a:hover::before {
  top: -5px;
  left: -5px;
  opacity: 1;
}

/* After */
.header-flex .navigation-mobile a::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  opacity: 0;
  transition: all 0.3s linear;
}

.header-flex .navigation-mobile a {
  position: relative;
  transition: all 0.3s linear;
  padding: 0.5rem 3rem;
}

.header-flex .navigation-mobile a:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
.header-flex .navigation-mobile a:hover::after {
  bottom: -5px;
  right: -5px;
  opacity: 1;
}

.cart-icon {
  display: none;
  color: var(--dark-black);
}

.header-flex .navigation-mobile li {
  padding: 3.5625rem 0;
  border-bottom: 1px solid var(--tertiary-color);
  width: 70%;
  text-align: center;
}

.header-flex .navigation-mobile a {
  color: var(--tertiary-color);
}

.header-flex .burger-menu {
  display: none;
}

/* Hero Section */
.hero {
  height: calc(100vh - 4.375rem);
  margin: 0 auto;
  max-width: var(--laptop-large);
  background-color: var(--primary-color);
  padding: 0 7.5rem;
  position: relative;
  overflow: hidden;
}

.hero-content {
  width: 100%;
  margin: 0 auto;
}

.hero-content .hero-left {
  max-width: 39.9375rem;
  position: absolute;
  top: 8rem;
  left: 0;
  background-color: var(--tertiary-color);
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  padding-left: 7.5rem;
  padding-top: 2.625rem;
  color: var(--secondary-color);
}

.hero-content .hero-left h1 {
  max-width: 30.625rem;
  font-size: 3.75rem;
  font-weight: normal;
  margin-bottom: 1.875rem;
}

.hero-content .hero-left p {
  max-width: 27.3125rem;
}

.hero-content .hero-left button {
  display: inline-block;
  border: none;
  width: 11.1875rem;
  height: 3rem;
  background-color: var(--dark-black);
  color: var(--tertiary-color);
  transform: translateY(5.4375rem);
  transition: all 0.3s linear;
}

.hero-content .hero-left button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.hero-content .hero-right {
  top: 0;
  right: 2rem;
  position: absolute;
  width: 56.7987rem;
  height: 32.8369rem;
  /* background-color: teal; */
  transform: rotate(-32.31deg);
}

/* Hero content bars */
.bars {
  width: max-content;
  display: flex;
  gap: 4rem;
  position: absolute;
  right: 7.5rem;
}

.bars .bar {
  width: 4.6875rem;
  height: 42.5rem;
  background-color: var(--dark-black);
  border-radius: 1.875rem;
}

/* Features section */
.features {
  max-width: var(--laptop-large);
  margin: 0 auto;
  background-color: var(--dark-black);
  color: var(--tertiary-color);
  height: ma.3125rem;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  padding-bottom: 3.1875rem;
}

.section-heading {
  margin: 0 auto;
  background-color: var(--tertiary-color);
  height: 7.6875rem;
  max-width: var(--laptop-large);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  font-size: 3rem;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.features-items {
  display: flex;
  padding-top: 3.1875rem;
  gap: 8.125rem;
}

.features-items i {
  font-size: 3.9375rem;
  margin-bottom: 1.25rem;
}

.features-item {
  flex: 1;
}

.features-item h4 {
  margin-bottom: 0.75rem;
}

/* Best Sellers section */
.best-sellers {
  max-height: max-content;
  background-color: var(--tertiary-color);
  max-width: var(--laptop-large);
  margin: 0 auto;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
}

.best-sellers-items {
  display: flex;
  justify-content: space-between;
  height: max-content;
  gap: 1rem;
}

.best-sellers-item {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  height: 28.25rem;
  flex: 1;
  height: max-content;
  padding-bottom: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.best-sellers-item img {
  width: 21.5625rem;
  height: 12.875rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.best-sellers-item .rating {
  color: var(--rating-color);
}

.best-sellers-item .description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2rem;
}

/* Reviews Section */
.reviews {
  margin: 0 auto;
  background-color: var(--tertiary-color);
  max-width: var(--laptop-large);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  padding-bottom: 2rem;
}

.reviews .reviews-items {
  display: flex;
  gap: 1rem;
}

.reviews .reviews-item {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--tertiary-color);
  height: 341px;
  position: relative;
  flex: 1;
}

.reviews .reviews-item .fa-quote-left {
  position: absolute;
  bottom: 0;
  font-size: 5rem;
}

.reviews .reviews-item img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 2.1875rem;
}

.reviews .reviews-item .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reviews .reviews-item .review-rating {
  display: flex;
}

.reviews .reviews-item .top {
  background-color: var(--dark-black);
  color: var(--tertiary-color);
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 90%;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  height: 100px;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.reviews .reviews-item .bottom {
  width: 90%;
  padding-left: 0.5rem;
}

.reviews .reviews-item .fa-star {
  color: var(--rating-color);
}

/* Footer */
footer {
  margin: 0 auto;
  max-width: var(--laptop-large);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  background-color: var(--primary-color);
  height: 400px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: start;
  height: 100%;
  gap: 2rem;
}

.footer-flex h4 {
  font-size: 1.2rem;
  font-weight: normal;
}

.footer-flex .logo {
  font-size: 3.125rem;
  background-color: var(--tertiary-color);
  color: var(--dark-black);
  transform: translate(-120px, 70px);
  padding-left: var(--padding-large);
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  flex: 1;
}

.footer-flex .middle-section {
  flex: 1;
  transform: translateX(-80px);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-flex .contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-flex .follow-us {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-flex .right-section {
  flex: 1;
  transform: translateX(-45px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Shop Page */
/* Shop section */
.shop {
  margin: 0 auto;
  max-width: var(--laptop-large);
  background-color: var(--tertiary-color);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* shop hero section */
.shop-hero {
  margin: 0 auto;
  max-width: var(--laptop-large);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  overflow: hidden;
}

.shop-hero-flex {
  display: flex;
  justify-content: space-between;
}

.shop-hero-flex h1 {
  position: relative;
  align-self: center;
  font-weight: normal;
}

.shop-hero-flex h1::before {
  position: absolute;
  content: "";
  top: -1rem;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--tertiary-color);
  border-top: 1px solid var(--tertiary-color);
  border-right: 1px solid var(--tertiary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transform: translateX(-133px);
}

.shop-hero-flex img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

/* Shop grid */

.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.shop-grid .shop-item {
  background-color: var(--dark-black);
  color: var(--tertiary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}
.shop-grid .shop-item img {
  max-width: 21.5625rem;
  max-height: 21.5625rem;
  width: 100%;
}
.shop-grid .shop-item .caption {
  border-top: 1px solid var(--tertiary-color);
  border-right: 1px solid var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 50%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: absolute;
  top: 2rem;
  left: 0;
}

/* Contact Us page */
/* Contact us section */
.contact-us {
  max-width: var(--laptop-large);
  margin: 0 auto;
  background-color: var(--tertiary-color);
  padding-left: var(--padding-large);
}

.contact-us-flex {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  gap: 4rem;
}

.contact-us-flex .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.contact-us .left div {
  border-bottom: 1px solid var(--dark-black);
}
.contact-us-flex .left h4 {
  margin-bottom: 0.4rem;
}
.contact-us-flex .left p {
  margin-bottom: 0.3rem;
}
.contact-us-flex .left i {
  margin-right: 0.3rem;
}

.contact-us-flex .right h3 {
  margin-bottom: 1rem;
}

.contact-us-flex .right {
  flex: 1;
  background-color: var(--dark-black);
  color: var(--tertiary-color);
  padding-top: 4.3125rem;
  padding-bottom: 4.3125rem;
  padding-left: 4.3125rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-right: var(--padding-large);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-us-flex .right .form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
}

.contact-us-flex .right input {
  padding: 0.3rem 0.5rem;
}
.contact-us-flex .right textarea {
  padding: 0.3rem 0.5rem;
  resize: none;
  height: 150px;
}

.contact-us-flex .right button {
  padding: 0.5rem 0.5rem;
  width: 60%;
  background-color: var(--primary-color);
  border: none;
  transition: all 0.3s linear;
}
.contact-us-flex .right button:hover {
  background-color: #243775c7;
  cursor: pointer;
}

/* Product details page */
/* Product details */
.product {
  max-width: var(--laptop-large);
  margin: 0 auto;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  background-color: var(--tertiary-color);
}

.product-detail {
  display: flex;
  padding-top: 48px;
  padding-bottom: 3rem;
  gap: 6rem;
}

.product-detail .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-detail .shoe-choice {
  background-color: var(--dark-black);
  max-width: 43.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-detail .colors {
  display: flex;
  gap: 1rem;
}

.product-detail .color {
  background-color: var(--dark-black);
  flex: 1;
  max-width: 6.25rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.product-detail .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-detail .right select {
  width: 100%;
  max-width: 6.25rem;
}
.product-detail .right .quantity {
  width: 100%;
  max-width: 6.25rem;
  display: flex;
  flex-direction: column;
}

.product-detail .right button {
  width: 100%;
  max-width: 6.25rem;
  display: inline-block;
  background-color: var(--dark-black);
  color: var(--tertiary-color);
  padding: 0.5rem;
  border: none;
  transition: all 0.3s linear;
}
.product-detail .right button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

/* Media Queries */

/* Laptop query */
@media (max-width: 1024px) {
  /* Heeader */
  .header-flex {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  /* Hero */
  .hero-content .hero-left {
    max-width: 27.9375rem;
    top: 6rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding-left: 4rem;
    padding-top: 2.625rem;
  }

  .hero-content .hero-right {
    top: 3.375rem;
    right: 0rem;
    position: absolute;
    width: 47.7987rem;
    height: 25.8369rem;
    transform: rotate(-44.31deg);
  }

  .hero-content .hero-left h1 {
    font-size: 2.75rem;
  }

  .hero-content .hero-left p {
    max-width: 20.3125rem;
  }

  .bars {
    right: 4rem;
    gap: 2rem;
  }

  .bars .bar {
    width: 3.6875rem;
    height: 42.5rem;
    border-radius: 1.875rem;
  }

  .section-heading {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  /* Features */
  .features {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  /* Best Sellers */
  .best-sellers {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  /* Reviews */
  .reviews {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  /* Shop */

  .shop {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  /* Contact us */
  .contact-us {
    padding-left: var(--padding-tablet);
  }
  .contact-us-flex .right {
    padding-right: var(--padding-tablet);
  }

  .contact-us-flex .right .form-group {
    width: 90%;
  }

  /* Product details */
  .product {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  .product-detail {
    gap: 3rem;
  }

  /* Footer Section */
  /* Footer */
  footer {
    margin: 0 auto;
    max-width: var(--laptop-large);
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
    background-color: var(--primary-color);
    height: 400px;
  }

  .footer-flex {
    gap: 1rem;
  }
}

/*  Tablet  query*/
@media (max-width: 768px) {
  .header-flex .logo {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 0.3rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
  }
  /* Header */
  .header-flex .burger-menu {
    display: block;
    color: var(--tertiary-color);
  }

  .header-flex .navigation-desktop {
    display: none;
  }

  .cart-icon {
    display: block;
    position: absolute;
    right: 6rem;
    color: var(--tertiary-color);
    list-style: none;
    transform: translateX();
  }

  /* Hero */
  .hero-content .hero-left {
    max-width: 40.5rem;
    height: 15.25rem;
    top: 17.9375rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding-left: var(--padding-tablet);
    padding-top: 1.625rem;
    max-width: 39.9375rem;
  }

  .hero-content .hero-left h1 {
    max-width: 30.625rem;
    font-size: 2.75rem;
    font-weight: normal;
    margin-bottom: 0.875rem;
  }

  .hero-content .hero-left button {
    transform: translateY(3.4375rem);
  }

  .hero-content .hero-right {
    top: -1.625rem;
    right: 10rem;
    position: absolute;
    width: 33.0087rem;
    height: 17.0831rem;
    transform: rotate(-20.19deg);
  }

  .bars {
    right: 4rem;
    gap: 2rem;
  }

  .bars .bar {
    width: 2.3125rem;
    height: 16.1875rem;
    border-radius: 1.875rem;
  }

  /* Features section */
  .features {
    max-width: var(--laptop-large);
    margin: 0 auto;
    background-color: var(--dark-black);
    color: var(--tertiary-color);
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  .section-heading {
    margin: 0 auto;
    background-color: var(--tertiary-color);
    height: 7.6875rem;
    max-width: var(--laptop-large);
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
    font-size: 3rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .features-items {
    display: flex;
    padding-top: 3.1875rem;
    gap: 2.125rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features-items i {
    font-size: 3.9375rem;
    margin-bottom: 1.25rem;
  }

  .features-item {
    flex: 1;
    max-width: 17.125rem;
  }

  .features-item h4 {
    margin-bottom: 0.75rem;
  }

  /* Best Sellers Section */
  .best-sellers {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  .best-sellers-item img {
    width: 21.5625rem;
    height: 8.875rem;
  }

  /* Reviews */
  .reviews {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  .reviews .reviews-items {
    flex-direction: column;
    gap: 2rem;
  }
  .reviews .reviews-item {
    padding-bottom: 7rem;
  }

  /* Shop */
  .shop {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }

  .shop-grid {
    grid-template-columns: 1fr 1fr;
  }

  .shop-grid .shop-item {
    height: 300px;
  }

  .shop-grid .shop-item .caption {
    top: 2rem;
    width: 50%;
  }

  /* Contact Us */
  .contact-us {
    padding-left: var(--padding-tablet);
  }

  .contact-us-flex {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    gap: 2rem;
  }

  .contact-us-flex .left {
    gap: 1rem;
  }

  .contact-us-flex .right .form-group {
    width: 100%;
  }

  /* Product detals */
  .product-detail {
    gap: 2rem;
  }

  /* Footer Section */
  footer {
    margin: 0 auto;
    max-width: var(--laptop-large);
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
    background-color: var(--primary-color);
    height: max-content;
  }

  .footer-flex {
    gap: 1.5rem;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: space-between;
  }

  .footer-flex .logo {
    font-size: 3rem;
    padding-left: var(--padding-tablet);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transform: translate(-65px, -16px);
    width: 100%;
  }

  .footer-flex .middle-section {
    gap: 1rem;
    transform: translateX(-2px);
    width: 100%;
    text-align: center;
  }

  .footer-flex .middle-section .contact,
  .footer-flex .middle-section .follow-us {
    border-bottom: 1px solid black;
    padding-bottom: 0.3rem;
  }

  .footer-flex .right-section {
    transform: translateX(-2px);
    border-bottom: 1px solid black;
    padding-bottom: 0.3rem;
    width: 100%;
    text-align: center;
  }

  .footer-flex .follow-us {
    margin-bottom: 1rem;
  }
}

/*  Mobile Large query */
@media (max-width: 425px) {
  /* Header */
  .header-flex {
    padding-right: var(--padding-mobile-Large);
    padding-left: var(--padding-mobile-Large);
  }

  .header-flex .navigation-mobile li {
    padding: 30px 0;
    border-bottom: 1px solid var(--tertiary-color);
    width: 70%;
    text-align: center;
  }

  .cart-icon {
    right: 3rem;
  }

  /* Hero */
  .hero-content .hero-left {
    width: 86%;
    max-height: 10.25rem;
    top: 14.9375rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding-left: 1rem;
    padding-top: 0.625rem;
  }

  .hero-content .hero-left h1 {
    max-width: 17.625rem;
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 0.875rem;
  }

  .hero-content .hero-left p {
    /* max-width: 17.3125rem; */
    display: none;
  }

  .hero-content .hero-left button {
    transform: translateY(3.4375rem);
  }

  .hero-content .hero-right {
    top: -1.625rem;
    right: 1rem;
    position: absolute;
    width: 33.0087rem;
    height: 14.0831rem;
    transform: rotate(-20.19deg);
  }

  .bars {
    right: 4rem;
    gap: 2rem;
  }

  .bars .bar {
    width: 1.3125rem;
    height: 13.1875rem;
    border-radius: 1.875rem;
  }

  /* Features section */
  .features {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }
  .section-heading {
    font-size: 2rem;
    height: 4.6875rem;
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .features-items {
    display: flex;
    padding-top: 3.1875rem;
    gap: 3.125rem;
  }

  .features-items i {
    font-size: 3.9375rem;
    margin-bottom: 1.25rem;
  }

  .features-item {
    flex: 1;
    max-width: 17.125rem;
  }

  .features-item h4 {
    margin-bottom: 0.75rem;
  }

  /* Best Sellers Section */
  .best-sellers {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .best-sellers-items {
    flex-direction: column;
  }

  .best-sellers-item img {
    width: 21.5625rem;
    height: 11.875rem;
  }

  /* Revies */
  .reviews {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .reviews .reviews-items {
    flex-direction: column;
  }

  /* Shop */
  .shop {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  /* shop hero section */
  .shop-hero {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .shop-hero-flex {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 4rem;
  }

  .shop-hero-flex h1 {
    transform: translateY(20px);
  }

  .shop-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
  }

  .shop-grid .shop-item {
    height: 200px;
  }
  .shop-grid .shop-item img {
    transform: translateY(2rem);
  }

  .shop-grid .shop-item .caption {
    width: 80%;
    top: 1rem;
    font-size: 0.7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    gap: 0.2rem;
  }

  /* Contact Us */
  .contact-us {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .contact-us-flex {
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-direction: column;
    gap: 3rem;
  }

  .contact-us-flex .left {
    gap: 1rem;
    padding-right: var(--padding-mobile-Large);
    text-align: center;
  }

  .contact-us-flex .right {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    align-items: center;
    text-align: center;
  }

  .contact-us-flex .right .form-group {
    width: 100%;
  }

  /* Product details */
  .product {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
    padding-top: 2rem;
  }

  .product-detail {
    position: relative;
    flex-direction: column;
    padding-top: 3rem;
  }

  .product-detail .right {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .product-detail .right .shoe-info {
    position: absolute;
    top: 0;
    left: 0;
  }
  /* Footer section */
  footer {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .footer-flex .logo {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
}

/*  Mobile Meduim */
@media (max-width: 375px) {
  /* Header */
  .header-flex {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .header-flex .navigation-mobile li {
    padding: 30px 0;
    border-bottom: 1px solid var(--tertiary-color);
    width: 70%;
    text-align: center;
  }

  .cart-icon {
    right: 2.7rem;
  }

  /* Shop */
  /* Shop */
  .shop {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .shop-grid .shop-item {
    height: 300px;
  }
  .shop-grid .shop-item img {
    transform: translateY(0rem);
  }

  .shop-grid {
    grid-template-columns: 1fr;
  }

  .shop-grid .shop-item .caption {
    width: 50%;
    top: 1rem;
    font-size: 1rem;
  }

  /* Contact Us */
  .contact-us-flex {
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .contact-us-flex .right {
    border-radius: 1rem;
  }

  /* Footer Section */
  .footer-flex .logo {
    font-size: 2.5rem;
    padding-left: var(--padding-mobile-Large);
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: translate(-16px, -16px);
  }
}

/*  Mobile Small */
@media (max-width: 320px) {
  /* Header */
  .header-flex {
    padding-left: var(--padding-mobile-Large);
    padding-right: var(--padding-mobile-Large);
  }

  .header-flex .navigation-mobile li {
    padding: 30px 0;
    border-bottom: 1px solid var(--tertiary-color);
    width: 70%;
    text-align: center;
  }

  .cart-icon {
    right: 2.7rem;
  }

  /* Reviews */
  .reviews .reviews-item .top {
    width: 97%;
  }

  /* Footer Section */
  .footer-flex .logo {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transform: translate(-16px, -16px);
  }
}
